.carousel-container {
    height: 650px;
    background-color: #111430;
}

.carousel-img {
    width: 300px;
}

.slick-dots li button::before {
    font-size: 10px;
    color: #3848d4;
}

.slick-dots li.slick-active button::before {
    color: #f1b621;
    opacity: 1;
}
